<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Staň sa<span class="text-warning"> Web Developerom!
        </span></h1>
        <h3>
          Rozšírte svoje znalosti v rôznych oblastiach spolu s <span class="text-danger">LearnIT</span>!
        </h3>
        <h5> Ak nie si registrovaný stačí pár klikov a budeš mať prístup k nadupaným kurzom!!
          Registračný formulár nájdeš  <%= link_to "TU!", sign_up_path, class: "link-danger" %></h5>
      </div>
      <%= image_tag("logo.png", class: 'img-fluid w-25 rounded d-none d-sm-block') %>
    </div>
  </div>
</section>
<div class=" container-fluid d-block">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
