<div id="<%= dom_id take_answer %>">
  <p>
    <strong>User answer:</strong>
    <%= take_answer.user_answer %>
  </p>

  <p>
    <strong>Take test:</strong>
    <%= take_answer.take_test_id %>
  </p>

</div>
