<h1>Editing take answer</h1>

<%= render "form", take_answer: @take_answer %>

<br>

<div>
  <%= link_to "Show this take answer", @take_answer %> |
  <%= link_to "Back to take answers", take_answers_path %>
</div>
