<div id="<%= dom_id take_test %>">
  <p>
    <strong>Gets points:</strong>
    <%= take_test.gets_points %>
  </p>

  <p>
    <strong>User:</strong>
    <%= take_test.user_id %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= take_test.test_id %>
  </p>

</div>
