<h1 class="text-center">Editing video</h1>
<div class="container w-50 mb-5 bg-dark text-white">
<%= render "form", video: @video %>
</div>


<div>
  <%= link_to "Show this video", @video %> |
  <%= link_to "Back to videos", videos_path %>
</div>
