<footer class="bg-dark text-white  mt-auto pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-danger">learnit</h5>
        <p class="text-white fw-bold">Tento projekt vznikol ako výsledny produkt bakalárskej práce, ktorá bola zameraná na vytvorenie webovej aplikácie
          pre podporu elektronickej výučby.</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-warning">Kurzy</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Kurz1</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Kurz1</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Kurz1</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-warning">Links</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Link</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Link</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none "> Link</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-warning">Kontakt</h5>
        <p>
          <i class="mr-3"></i>New york
        </p>
        <p>
        <i class="mr-3"></i>hajek.michal56@gmail.com
        </p>
        <p>
        <i class="mr-3"></i>+421 911 964 196
        </p>
      </div>
    </div>
  </div>
</footer>