<div id="<%= dom_id multiple_choice_question %>">
  <p>
    <strong>Question:</strong>
    <%= multiple_choice_question.question %>
  </p>

  <p>
    <strong>Possiblepoints:</strong>
    <%= multiple_choice_question.possiblePoints %>
  </p>

</div>
