<h1>Editing multiple choice question</h1>

<%= render "form", multiple_choice_question: @multiple_choice_question %>

<br>

<div>
  <%= link_to "Show this multiple choice question", @multiple_choice_question %> |
  <%= link_to "Back to multiple choice questions", multiple_choice_questions_path %>
</div>
