<p style="color: green"><%= notice %></p>

<h1>Multiple choice questions</h1>

<div id="multiple_choice_questions">
  <% @multiple_choice_questions.each do |multiple_choice_question| %>
    <%= render multiple_choice_question %>
    <p>
      <%= link_to "Show this multiple choice question", multiple_choice_question %>
    </p>
  <% end %>
</div>

<%= link_to "New multiple choice question", new_multiple_choice_question_path %>
