<div id="<%= dom_id course %>">
  <div class="card-body">
      <h5 class="card-title text-warning"><%= course.title %></h5>
    <p class="card-text text-light"><%= course.description %></p>
  </div>
</div>

