<h1 class="text-center">Editácia kurzu</h1>
<div class="container w-50 mb-5 bg-dark text-white">
  <%= render "form", course: @courses %>
</div>
<div>
  <%= link_to "Back to courses", courses_path %>
</div>
