<p style="color: green"><%= notice %></p>

<h1>Kurzy</h1>

<div class="container" id="courses">
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-4">
      <div class="card">
        <%= render course %>
        <%= link_to "Show this courses", course %>
      </div>

    </div>
    <% end %>
  </div>


</div>

</div>
<% if policy(@courses).new? %>
  <%= link_to "New courses", new_course_path %>
<% end %>
