<p style="color: green"><%= notice %></p>

<h1 class="text-center text-dark ">Kurzy</h1>

<div class="container" id="courses">
  <div class="row " >
    <% @courses.each do |course| %>
    <div class="class=col-12 col-md-6 col-lg-4 card-text-center mt-5 card-text-center ">
      <div class="card bg-dark text-center text-danger">
        <%= render course %>
        <%= button_to "Zobraz kurz", course_path(course),method: :get, class: 'btn-warning btn-outline-secondary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
<% if policy(@courses).new? %>
  <%= link_to "New courses", new_course_path %>
<% end %>
