<h1 class="text-center">New course</h1>
<div class="container w-50 mb-5 bg-dark text-white">
<%= render "form", course: @course %>
</div>


<div>
  <%= link_to "Back to courses", courses_path ,class:"nav-link active text-warning  fw-bold text-decoration-underline"%>
</div>
