<div id="<%= dom_id test %>">
  <div class="row text-center ">
    <div class="col-md">
      <div class="card bg-dark text-light">
        <div class="card-body text-center">
          <h3 class="card-title"> <%= test.title %></h3>
          <div class="card-text">
            <p>Počet bodov:<%= test.totalPoints %></p>
          </div>
          <p>
            <%= link_to "Náhľad testu", test, class: 'btn btn-outline-light btn-danger btn-text-light text-uppercase ' %>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<br>

