<div class="col-12 col-md-6 col-lg-4 card-text-center mt-2 mb-2">
  <div class="card bg-dark text-light">
    <div class="card-body text-center">
      <h3 class="card-title"> <%= test.title %></h3>
      <div class="card-text">
        <p>Počet bodov:<%= test.totalPoints %></p>
      </div>
      <div class="card-footer">
        <% @test = Test.find_by(id: test.id) %>
        <%= link_to "Uprav test", edit_test_path(@test), class: 'btn btn-outline-light btn-danger btn-text-light text-uppercase mb-1' %>
        <%= link_to "Vymaž test", test, method: :delete, class: 'btn btn-outline-light btn-danger btn-text-light text-uppercase mb-1' %>
      </div>
    </div>
  </div>
</div>



