<p style="color: green"><%= notice %></p>
<h1 class="text-center mb-5">Zoznam všetkých testov</h1>
<div id="tests" class="container">
  <div class="row text-center ">
    <% @tests.each do |test| %>
      <%= render test %>
    <% end %>
  </div>
  <%= link_to "Vytvor nový test", new_test_path,class: 'btn btn-outline-light btn-danger btn-text-light text-uppercase '  %>
</div>
