<h1 class="text-center text-dark">Vytvorenie nového testu</h1>

<%= render "form", test: @test %>

<br>

<div>
  <%= link_to "Naspäť na testy", tests_path,class: "nav-link active fw-bold navbar-brand text-decoration-underline text-warning" %>
</div>
