<p style="color: green"><%= notice %></p>
<section class="p-5">
  <div class='container bg-dark'>
    <div class="row text-center">
      <%= render @test %>
    </div>

    </div>
  <div class="btn-group ml-3" role="group" aria-label="Basic example">
    <%= link_to "Back to tests", tests_path,class: 'btn btn-outline-light btn-info btn-text-light text-uppercase '  %>
    <%= link_to "Edit this test", edit_test_path(@test),class: 'btn btn-outline-light btn-warning btn-text-light text-uppercase '  %> |
  </div>
</section>
