<p style="color: green"><%= notice %></p>
<section class="p-5">
  <div class='container bg-dark'>
    <div class="row text-center">
      <%= render @test %>
    </div>
    </div>

  <div>
    <%= link_to "Edit this test", edit_test_path(@test) %> |
    <%= link_to "Back to tests", tests_path %>


  </div>

</section>
