<h1>Editing comentar</h1>

<%= render "form", comentar: @comentar %>

<br>

<div>
  <%= link_to "Show this comentar", video_comentar_path(@comentar) %> |
  <%= link_to "Back to comentars", video_comentars_path %>

</div>
