<p style="color: green"><%= notice %></p>

<%= render @comentar %>

<div>
  <%= link_to "Edit this comentar", edit_video_comentar_path(@comentar) %> |
  <%= link_to "Back to comentars", video_comentars_path %>


</div>
